<!DOCTYPE html>
<html>
  <head>
    <title>Paddle Panama</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar sticky" data-topbar role="navigation" >
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">Chris Huerbsch</a></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="has-dropdown navlogo">
            <a href="#">Cayuco Culture</a>
            <ul class="dropdown">
              <li><a href="#">About</a></li>
              <li><a href="#">Cayucos</a></li>
              <li><a href="#">Paddles</a></li>
              <li><a href="#">Apparel</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </li>

          <li class="has-dropdown">
            <a href="#">Istmo Outrigger</a>
            <ul class="dropdown">
              <li><a href="#">About</a></li>
              <li><a href="#">Outriggers</a></li>
              <li><a href="#">Paddles</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </li>

          <li class="active"><a href="#">Purchase</a></li>

        </ul>
      </section>
    </nav>

    <%= yield %>

<div class="three-column-footer-contact-form-container">
  <footer class="three-column-footer-contact-form" data-equalizer data-equalize-by-row="true">
    <div class="footer-left" data-equalizer-watch>
      <div class="baseline">
        <div class="contact-details">
          <h6>Contact details</h6>
          <p><i class="fa fa-phone fa-lg" aria-hidden="true"></i> 507-64903127</p>
          <p><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> Contact us</a></p>
          <p><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i> Panama City, Panama</p>
        </div>
        <div class="newsletter">
          <div class="input-group">
            <h6>Sign up for our newsletter</h6>
            <input class="input-group-field" type="email" placeholder="Email address">
          </div>
          <a class="round button" href="#">Submit</a>
        </div>
      </div>
     </div>
    <div class="footer-center" data-equalizer-watch>
      <div class="baseline">
        <div class="newsletter">
          <h6>Contact form</h6>
          <div class="input-group">
            <input class="input-group-field" type="text" placeholder="Name">
            <input class="input-group-field" type="email" placeholder="Email address">
            <textarea placeholder="Message"></textarea>
          </div>
          <a class="round button" href="#">Submit</a>
        </div>
      </div>
    </div>
    <div class="footer-right" data-equalizer-watch>
      <div class="baseline">
        <img class="thumbnail" src="http://placehold.it/100">
        <h6>Hours</h6>
        <p>Mon - Fri 9:00am - 5:00pm</p>
        <p>Sat 9:00am - 8:00pm</p>
        <p>Sun 9:00am - 4:00pm</p>
        <div class="social">
          <a href="https://www.instagram.com/cayucoculture"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
          <a href="https://www.facebook.com/cayucoculture/"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </footer>
</div>

  </body>
</html>
